{
  "gatewayAddress": "172.16.0.1",
  "ipCidrRange": "172.16.0.0/24",
  "name": "{{ data.subnet_name}}",
  "network": "projects/{{ data.project_name }}/global/networks/{{ data.network_name }}",
  "region": "projects/{{ data.project_name }}/regions/{{ data.region_name }}"
}